/* ## Site Footer
--------------------------------------------- */


/* ## Footer Widgets
--------------------------------------------- */

.open-subscription {
    padding-top: 8px;
    clear: both;
    line-height: 1.4em;
    background-color: #fbfbfb;
    border: #e1e8ed solid 1px;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 50px;
}

.open-nieuwsbrief-uitleg{
    font-family: $font-family;
    font-size: 14px;
}

.revue-embed{
    margin-bottom: 1em;
    margin-top: 2em;
    max-width: 520px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/* ## Footer Credits
--------------------------------------------- */

