/* ## Front Page
--------------------------------------------- */

.dtd-date {
    font-size: 1.5em;
    font-family: $font-family;
    margin-left: 0em;
    margin-top: 1em;
}

.blog article.show-full-content-first-post {
    padding-top: 0;
}

.blog article, .archive article, .search article {
    padding: 20px 0;
    border-bottom: solid 1px #ddd;
}