/* ## Sidebars
--------------------------------------------- */

/* ## Widgets
--------------------------------------------- */

.simple-social-icons ul li {
    background: 0 0 !important;
    border: none !important;
    float: left;
    list-style-type: none !important;
    margin: 0 1px 10px !important;
    padding: 0 !important;
}